<template>
  <div>
    <q-dialog v-model="show_dialog">
      <q-card>
        <q-card-section>
          <div class="text-h6">Add new item!</div>
        </q-card-section>
<form @submit.prevent="submitAddNew">
        <q-card-section>
          <div class="row">
            <q-input v-model="editedItem.name"   :rules="[val => !!val || 'Name is required']" ref="name" label="Name"></q-input>
            <q-input
              v-model="editedItem.description"
              label="Description"
            ></q-input>
            <q-input v-model="editedItem.image" label="Image"></q-input>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="ok"
            color="primary"
           type="submit"

          ></q-btn>
        </q-card-actions>
        </form>
      </q-card>
    </q-dialog>
    <div class="q-pa-md">
      <h5>{{ length }} Recipes</h5>
    </div>
    <div class="q-pa-md">
      <q-btn
        icon="add"
        color="secondary"
        label="Add New Recipe"
        @click="show_dialog = true"
        no-caps
      ></q-btn>
      <q-br />
      <div class="col">
        <q-table
          title="Simple"
          :data="products"
          :columns="columns"
          row-key="name"
          dense
        >
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-btn
                dense
                color="grey"
                @click="editItem(props)"
                icon="edit"
              ></q-btn
              >&nbsp;
              <q-btn
                dense
                color="green"
                @click="promptToAddToCart(props.row)"
                icon="shopping_cart"
              ></q-btn
              >&nbsp;
              <q-btn
                dense
                color="red"
                @click="promptToDelete(props.row.id)"
                icon="delete"
              ></q-btn
              >&nbsp;
              <q-btn dense color="blue" @click="showDetails(props.row.id)"
                >Show Details</q-btn
              >
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "app",
  data() {
    return {
      show_dialog: false,
      editedIndex: -1,
      editedItem: {
        name: "",
        description: "",
        image: ""
      },
      defaultItem: {
        id: "",
        name: "",
        description: 0,
        image: ""
      },
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "description",
          align: "center",
          label: "Description",
          field: row => row.name,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "ImageUrl",
          label: "ImageUrl",
          align: "center",
          field: row => row.image,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "actions",
          label: "Actions",
          align: "center",
          field: "",
          align: "center"
        }
      ]
    };
  },
  computed: mapGetters({
    products: "allProducts",
    length: "getNumberOfProducts"
  }),
  //methods: mapActions(["addToCart"]),
  methods: {
    //map action from store
    ...mapActions(["addNewRecipe", "addToCart", "DeleteItem", "UpdateRecipe"]),
    submitAddNew() {
      this.$refs.name.validate();
      if (!this.$refs.name.hasError) {
      this.addRow()
      }
    },
    addRow() {
      if (this.editedIndex > -1) {
        Object.assign(this.products[this.editedIndex], this.editedItem);
        this.UpdateRecipe(this.editedItem);
      } else {
        // consol.log(this.editedItem)
        this.addNewRecipe(this.editedItem);
        // this.products.push(this.editedItem);
      }
      this.close();
    },
    editItem(item) {
      this.editedIndex = this.products.indexOf(item.row);
      this.editedItem = Object.assign({}, item.row);
      console.log(item);
      //this.UpdateRecipe(item)
      this.show_dialog = true;
    },
    promptToDelete(id) {
      //alert('mmmm')
      confirm("Are you sure you want to delete this item?") &&
        this.DeleteItem(id);
    },
    promptToAddToCart(item) {
      this.addToCart(item);
    },
    close() {
      // alert('bahaa')
      this.show_dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    showDetails(id) {
      localStorage.setItem("RecipeId", id);
      this.$router.push("/product-details");
    }
  },
  beforeMount() {
    var token = localStorage.getItem("token");
    if (token == null) {
      this.$router.push("/");
    }
    this.products;
  }
};
</script>

<style lang="scss"></style>
