<template>
   <div class="q-pa-md">
    <h4 class="title">Recipes Details</h4>

      <div class="q-pa-md row items-start q-gutter-md">
     <q-card class="my-card">
      <q-img
        :src="this.Detils.image"
        basic
      >
        <div class="absolute-bottom text-h6">
           Name : {{ this.Detils.name }}
        </div>
      </q-img>

      <q-card-section>
    <span>Description :  {{ this.Detils.description }}</span>

      </q-card-section>
    </q-card>
    </div>


  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    Detils() {
      const allRecipesData = localStorage.getItem("allRecipesData");
      return JSON.parse(allRecipesData).find(i => {
        return i.id == localStorage.getItem("RecipeId");
      });
    }
  },
  methods: {
    ...mapActions(["addToCart", "RemoveItemFromCart"]),
    checkout() {
      console.log(this.Detils);
    }
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
