<template>
     <div class="nav-item is-tab" :class="{ 'active-bottom-border': $route.path === '/cart' }">
	      <div class="field is-grouped">

	          <router-link to='/cart' class="button is-info">
            <q-btn dense round flat icon="shopping_cart">
      <q-badge color="red" floating transparent>
        ({{itemsInCart}})
      </q-badge>
    </q-btn>

	          </router-link>

	      </div>
	    </div>
</template>


<script>
import { mapGetters } from 'vuex'

export default {

	computed: {
		itemsInCart(){
			let cart = this.$store.getters.cartProducts;
			return cart.reduce((accum, item) => accum + item.quantity, 0)
		}
	}
}
</script>
