<template>
  <div class="q-pa-md">
    <h4 class="title">Your Cart</h4>
    <p v-show="!products.length">
      <i>shopping list is empty!</i>&nbsp;
      <router-link to="/index"> Go Recipes</router-link>
    </p>
    <div class="col">
      <q-table
        title="Simple"
        :data="products"
        :columns="columns"
        row-key="name"
        dense
      >
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              round
              color="orange"
              :disabled="props.row.quantity == 1 ? true : false"
              @click="DecreaseItem(props.row)"
              icon="-"
            >
              <template v-slot:loading>
                <q-spinner-facebook />
              </template>
            </q-btn>
            {{ props.row.quantity }}
            <q-btn round color="green" @click="addToCart(props.row)" icon="add">
              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>
          </q-td>
          <q-td :props="props">
            <q-btn
              dense
              color="red"
              @click="deleteFromCart(props.row.id)"
              icon="delete"
            ></q-btn
            >&nbsp;
          </q-td>
        </template>
      </q-table>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      loading6: false,
      progress: false,
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },


        {
          name: "actions",
          label: "Quantity",
          align: "center",
          field: "",
          align: "center"
        }
      ]
    };
  },
  computed: {
    ...mapGetters({
      products: "cartProducts"
    })
  },
  methods: {
    ...mapActions(["RemoveItemFromCart", "addToCart", "DecreaseItem"]),

    deleteFromCart(id) {
      this[`loading${6}`] = true;
      this.RemoveItemFromCart(id);
      // simulate a delay
      setTimeout(() => {
        this[`loading${number}`] = false;
      }, 3000);

      // alert(id);
    },
    simulateProgress(number) {
      this[`loading${6}`] = true;

      // simulate a delay
      setTimeout(() => {
        this[`loading${6}`] = false;
      }, 3000);
    }
  }
};
</script>
