<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>


        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>


      </q-toolbar>
    </q-header>



    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import CartLenght from 'components/ShoppingList/CartLenght.vue'

const linksData = [

  {
    title: 'All Recipes',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: '/'
  },
  {
    title: 'Log Out',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: '/singin'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink,CartLenght },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
