<template>
   <q-layout view="hHh Lpr lff" container style="height: 800px" class="shadow-2 rounded-borders">

  <q-header elevated class="bg-black">
        <q-toolbar>
          <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
          <q-toolbar-title>Header</q-toolbar-title>
           <div><CartLenght/></div>
        </q-toolbar>
      </q-header>


      <q-drawer
        v-model="drawer"
        show-if-above

        :mini="!drawer || miniState"
 @click.capture="drawerClick"

        :width="200"
        :breakpoint="500"
        bordered
        content-class="bg-grey-3"
      >
        <q-scroll-area class="fit">
          <q-list padding>
            <q-item clickable v-ripple @click="clickAllRecipes()">
              <q-item-section avatar>
                <q-icon name="inbox" />
              </q-item-section>

              <q-item-section>
                All Recipes
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple @click="logOut()">
              <q-item-section avatar>
                <q-icon name="logout" />
              </q-item-section>

              <q-item-section>
                Log Out
              </q-item-section>
            </q-item>


          </q-list>
        </q-scroll-area>

        <!--
          in this case, we use a button (can be anything)
          so that user can switch back
          to mini-mode
        -->
        <div class="q-mini-drawer-hide absolute" style="top: 15px; right: -17px">
          <q-btn
            dense
            round
            unelevated
            color="accent"
            icon="chevron_left"
            @click="miniState = true"
          />
        </div>
          </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
  <script>

import CartLenght from 'components/ShoppingList/CartLenght.vue'
export default {
 components: {CartLenght },
  data () {
    return {
      drawer: false,
      miniState: false
    }
  },

  methods: {
    drawerClick (e) {
      if (this.miniState) {
        this.miniState = false
        e.stopPropagation()
      }
    },
    logOut(){
      localStorage.removeItem('token');
      this.$router.push("/");
    },
    clickAllRecipes(){
      this.$router.push("/index");
    }
  }
}
</script>
