<template>
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: linear-gradient(#8274C5, #5A4A9F);"
  >
    <div class="column q-pa-lg">
      <div class="row">
        <q-card square class="shadow-24" style="width:300px;height:485px;">
        <form @submit.prevent="submitLogin">
            <q-card-section class="bg-deep-purple-7">
            <h4 class="text-h5 text-white q-my-md">Company &amp; Co</h4>
            <div
              class="absolute-bottom-right q-pr-md"
              style="transform: translateY(50%);"
            >
              <q-btn fab icon="add" color="purple-4" />
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-pt-xl">
              <q-input
                square
                clearable
                v-model="userInfo.email"
                ref="email"
                :rules="[val => !!val || 'Email is required']"
                type="text"
                label="Email"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
              <q-input
                square
                clearable
                ref="password"
                :rules="[val => !!val || 'password is required']"
                v-model="userInfo.password"
                type="password"
                label="Password"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>

          <q-card-actions class="q-px-lg">
            <q-btn
             type="submit"
              unelevated
              size="lg"
              color="purple-4"
              class="full-width text-white"
              label="Sign In"
            />
          </q-card-actions>
          </form>
          <q-card-section class="text-center q-pa-sm">
            <p class="text-grey-6">
              <router-link to="/SignUp" class="button is-info">
                <span class="icon">
                  <i class="fa fa-shopping-cart"></i>
                </span>
                <span>SignUp</span>
              </router-link>
            </p>
            <br />
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { uid } from "quasar";
export default {
  name: "SignIn",
  data() {
    return {
      userInfoData: [],
      userInfo: {
        id: uid(),
        email: "",
        username: "",
        password: ""
      }
    };
  },
  methods: {
    submitLogin(){
this.$refs.email.validate();
this.$refs.password.validate();
if(!this.$refs.email.hasError && !this.$refs.password.hasError){
  this.login()
}
    },
    login() {
      let userInfo = window.localStorage.getItem("userInfo");
      if (userInfo) {
        const userExist = JSON.parse(userInfo).find(i => {
          return (
            i.password == this.userInfo.password &&
            i.email == this.userInfo.email
          );
        });
        if (userExist == undefined) {
          alert("email or password not correct");
        } else {
          localStorage.setItem("token", userExist.id);

           localStorage.setItem("cart",JSON.stringify([]))
           window.location.replace('/index')
        //  this.$router.push("/index");
        }
      } else {
        alert("please sigin up first ");
      }
    }
  }
};
</script>

<style></style>
